.contact-fav {
    &-ctn {
        width: 50%;
        &-card{
            //padding: 0.5em;
            background-color: #aaa;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &-title {
        font-size: 2em;
        font-weight: 600;
        margin: 0.5em
    }
    &-empty {
        font-size: 1.5em;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width : 760px) {
    .contact-fav-ctn {
        width: 100%;
    }
}