.contact-card-ctn {
    display: flex;
    flex-direction: row;
    margin: 0.5em auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border: solid 4px #000;
    padding: 0.4em;
    background-color: #eee;
    &-avatar {
        
    }
    &-namespace {
        margin-left: 0.5em;
        width: 80%;
    }
    &-fav {
        margin-right: 0.5em;
        cursor: pointer;
    }
}