.contact-list-ctn {
    width: 50%;
    &-search {
        margin: 1em;
        display: flex;
        align-items: center;
    }
    &-btn {
        display: flex;
        justify-content: center;
        margin: 1em auto;
    }
}

.contact-list {
    &-search {
        padding: 8px;
        width: 70%;
        border-radius: 2em;
        border: 3px solid #000
    }
    &-total {
        width: 20%;
        font-weight: 600;
        text-align: center;
    }
    &-btn {
        padding: 0.8em;
        font-weight: 600;
    }
}

@media (max-width : 760px) {
    .contact-list-ctn {
        width: 100%;
    }
}